In [1]:
# Dependencies:
import pandas as pd

In [2]:
# Load CSV and sample:
emission_df = pd.read_csv("Resources/GCB2022v27_MtCO2_flat.csv")
# emission_df[(emission_df['Year'].values >= 1965) & (emission_df['Country'].values == 'USA')]
emission_df.sample(25)

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
61776,Yemen,YEM,1782,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17296,Estonia,EST,1910,0.971407,0.821279,0.150128,0.000000,NaN,0.000000,NaN,NaN
36895,Montenegro,MNE,1925,0.111755,0.108676,0.003079,0.000000,0.000000,0.000000,NaN,NaN
50985,Slovakia,SVK,1871,1.710947,1.710947,0.000000,0.000000,0.000000,0.000000,NaN,NaN
57881,Turkmenistan,TKM,1967,17.620683,1.356470,9.771909,6.024723,0.467581,0.000000,NaN,8.731652
61850,Yemen,YEM,1856,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13571,Cura√ßao,CUW,1993,4.854264,0.000000,4.854264,0.000000,0.000000,0.000000,NaN,31.647170
55380,Taiwan,TWN,1914,0.919664,0.919664,0.000000,0.000000,0.000000,0.000000,NaN,NaN
3614,Azerbaijan,AZE,1828,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41786,Pacific Islands (Palau),NaN,1920,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16645,Equatorial Guinea,GNQ,1803,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35952,Mayotte,MYT,1798,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
63092,Global,WLD,2010,33364.346496,13926.620921,11359.882721,6195.343757,1254.878090,381.650481,245.970526,4.776158
49308,Saudi Arabia,SAU,1826,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37401,Morocco,MAR,1887,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62823,International Transport,XIT,2013,1111.054748,NaN,1111.054748,NaN,NaN,NaN,NaN,NaN
8842,Burundi,BDI,1888,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43926,Bolivia,BOL,1884,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23272,Guinea,GIN,1902,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
53768,Saint Vincent and the Grenadines,VCT,1934,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35548,Mauritania,MRT,1938,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
63068,Global,WLD,1986,20627.358491,8335.814386,8576.333790,3045.544194,440.349287,169.667801,NaN,4.167090
57391,Tunisia,TUN,2021,31.582747,0.000000,14.165880,13.681693,3.223213,0.511962,NaN,2.575462
23905,Guyana,GUY,1991,1.106528,0.000000,1.106528,0.000000,NaN,0.000000,NaN,1.487077
61052,Venezuela,VEN,1874,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Check null and drop any null values:
emission_df.isnull().sum()

Country                   0
ISO 3166-1 alpha-3     1632
Year                      0
Total                   200
Coal                  41360
Oil                   41387
Gas                   41486
Cement                42290
Flaring               41554
Other                 61484
Per Capita            44130
dtype: int64

In [4]:
emission_df = emission_df.dropna(how='any')
emission_df

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
3232,Australia,AUS,1990,278.154156,141.879819,88.842090,34.454816,3.462872,7.272496,2.242063,16.315938
3233,Australia,AUS,1991,279.528510,146.082840,88.245572,32.786243,3.183033,7.001201,2.229622,16.184767
3234,Australia,AUS,1992,284.525345,150.051381,87.916828,33.970472,2.923411,7.303701,2.359551,16.293502
3235,Australia,AUS,1993,288.870537,150.098575,90.386578,35.670002,3.004698,7.136743,2.573941,16.383765
3236,Australia,AUS,1994,293.696553,151.376241,91.924087,37.032005,3.484276,6.880148,2.999795,16.494706
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

In [5]:
emission_df.isnull().sum()

Country               0
ISO 3166-1 alpha-3    0
Year                  0
Total                 0
Coal                  0
Oil                   0
Gas                   0
Cement                0
Flaring               0
Other                 0
Per Capita            0
dtype: int64

In [6]:
# Rename column ISO 3166-1 alpha-3 to Country Code:
emission_df = emission_df.rename(columns={'ISO 3166-1 alpha-3':'Country Code'})
emission_df.sample(25)

,Country,Country Code,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
21485,Germany,DEU,2019,707.149948,240.086494,270.910415,172.478938,13.286640,2.028361,8.359100,8.504699
19302,France,FRA,2012,356.912578,46.667660,204.876300,90.609028,7.291910,3.307063,4.160618,5.658864
44606,Portugal,PRT,2020,41.799894,2.430948,23.215232,11.992691,2.309659,1.012769,0.838594,4.058955
13055,Croatia,HRV,2021,17.701451,1.685619,9.050490,5.310927,1.212949,0.288184,0.153282,4.359818
10851,China,CHN,1993,2921.650956,2228.745248,428.548768,35.727664,142.773793,0.000000,85.855483,2.443147
41043,Norway,NOR,1993,36.000000,3.701200,20.195800,8.722000,0.838000,1.599000,0.944000,8.348811
22025,Greece,GRC,2015,74.927631,29.948851,34.983654,6.034755,3.467281,0.003639,0.489452,6.933480
59551,United Kingdom,GBR,2005,570.338370,148.032654,200.447656,205.437837,5.941163,5.991193,4.487867,9.445231
18737,Finland,FIN,1991,55.188760,21.388240,26.808258,5.383570,0.568881,0.103462,0.936350,11.007253
19299,France,FRA,2009,371.045218,45.185605,219.270719,90.711959,7.474170,4.506531,3.896234,5.975608
44327,Poland,POL,2013,322.651181,214.314382,62.579292,30.803979,5.874228,4.801655,4.277644,8.357247
52494,Spain,ESP,2020,213.339721,14.300041,120.283595,64.320816,8.191764,3.558305,2.685201,4.504277
47311,Russia,RUS,2005,1559.082760,416.422760,319.019961,745.182869,22.256030,41.530490,14.670650,10.842018
60061,USA,USA,1971,4365.465254,1107.406428,2097.304811,1096.927397,35.509772,15.260547,13.056300,21.514514
25292,Iceland,ISL,2018,3.658953,0.715029,2.783351,0.000032,0.000000,0.156462,0.004080,10.366893
7590,Brazil,BRA,1996,289.311000,46.468484,206.281426,10.608090,13.884000,7.821000,4.248000,1.742448
32090,Liechtenstein,LIE,2016,0.149838,0.000000,0.098863,0.050975,0.000000,0.000000,0.000000,3.984106
18742,Finland,FIN,1996,64.033059,29.756941,26.030928,6.789215,0.381418,0.064758,1.009800,12.494943
8409,Bulgaria,BGR,1999,46.378900,26.603489,12.046053,6.153781,1.106452,0.127103,0.342023,5.682086
32095,Liechtenstein,LIE,2021,0.150950,0.000000,0.095377,0.055573,0.000000,0.000000,0.000000,3.866656
52471,Spain,ESP,1997,267.589849,75.331434,146.687953,27.506457,12.751534,1.815074,3.497397,6.659769
27194,Italy,ITA,2016,358.182542,48.558932,156.014581,140.791993,7.680499,2.188706,2.947833,5.957930
55470,Taiwan,TWN,2004,257.883000,140.475294,86.564227,20.152479,9.546000,0.000000,1.145000,11.358934
14951,Denmark,DNK,2013,41.772984,12.754866,19.574380,7.939518,0.867063,0.243547,0.393610,7.425800
59008,Ukraine,UKR,2006,332.613143,154.040480,40.507856,126.290064,5.484277,2.489549,3.800917,7.138761

In [15]:
emission_df.to_csv('emission_cleaned')

In [8]:
# Load CSV and drop columns not needed:
world_pop_df = pd.read_csv("Resources/world_pop.csv")
world_pop_df = world_pop_df.drop(columns=["Indicator Code","Indicator Name"])
world_pop_df

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,54608,55811,56682,57475,58178,58782,59291,59522,...,102112,102880,103594,104257,104874,105439,105962,106442,106585,106537
1,Africa Eastern and Southern,AFE,130692579,134169237,137835590,141630546,145605995,149742351,153955516,158313235,...,552530654,567891875,583650827,600008150,616377331,632746296,649756874,667242712,685112705,702976832
2,Afghanistan,AFG,8622466,8790140,8969047,9157465,9355514,9565147,9783147,10010030,...,30466479,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462
3,Africa Western and Central,AFW,97256290,99314028,101445032,103667517,105959979,108336203,110798486,113319950,...,376797999,387204553,397855507,408690375,419778384,431138704,442646825,454306063,466189102,478185907
4,Angola,AGO,5357195,5441333,5521400,5599827,5673199,5736582,5787044,5827503,...,25188292,26147002,27128337,28127721,29154746,30208628,31273533,32353588,33428486,34503774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,947000,966000,994000,1022000,1050000,1078000,1106000,1135000,...,1807106,1818117,1812771,1788196,1777557,1791003,1797085,1788878,1790133,1786038
260,"Yemen, Rep.",YEM,5542459,5646668,5753386,5860197,5973803,6097298,6228430,6368014,...,26223391,26984002,27753304,28516545,29274002,30034389,30790513,31546691,32284046,32981641
261,South Africa,ZAF,16520441,16989464,17503133,18042215,18603097,19187194,19789771,20410677,...,53145033,53873616,54729551,55876504,56422274,56641209,57339635,58087055,58801927,59392255
262,Zambia,ZMB,3119430,3219451,3323427,3431381,3542764,3658024,3777680,3901288,...,14744658,15234976,15737793,16248230,16767761,17298054,17835893,18380477,18927715,19473125
263,Zimbabwe,ZWE,3806310,3925952,4049778,4177931,4310332,4447149,4588529,4734694,...,13265331,13555422,13855753,14154937,14452704,14751101,15052184,15354608,15669666,15993524

In [14]:
# Stacked
world_pop_df3 = pd.DataFrame(world_pop_df.set_index(['Country Name', 
                                                     'Country Code']).stack())
world_pop_df3.sample(100)

                                                       0
Country Name                Country Code
Tajikistan                  TJK          1966    2625653
Israel                      ISR          1965    2563000
Cabo Verde                  CPV          1983     330971
Kyrgyz Republic             KGZ          1972    3088200
Africa Eastern and Southern AFE          2016  616377331
...                                                  ...
Guam                        GUM          1978     105710
Euro area                   EMU          1962  269908375
Tanzania                    TZA          2021   63588334
Gibraltar                   GIB          1976      28162
Andorra                     AND          2011      70567

[100 rows x 1 columns]

In [16]:
world_pop_df3.to_csv('world_population_by_year')