In [1]:
# Dependencies:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from statsmodels.tsa.arima.model import ARIMA
from matplotlib import pyplot

In [2]:
# Load dataset:
df = pd.read_csv('../Resources/emissions_since1961_total_data.csv')
df.head()

,country,country_code,year,total,coal,oil,gas,cement,flaring,other,population,per_capita,temp_change
0,Australia,AUS,1961,90.503896,59.974780,29.115323,0.000000,1.413794,0.0,NaN,10483000,8.614547,0.151
1,Australia,AUS,1962,94.823455,61.485584,31.884128,0.003664,1.450079,0.0,NaN,10742000,8.852126,0.118
2,Australia,AUS,1963,100.934264,63.727952,35.658048,0.007328,1.540936,0.0,NaN,10950000,9.245287,-0.111
3,Australia,AUS,1964,108.875767,67.133213,39.943584,0.007328,1.791642,0.0,NaN,11167000,9.780775,-0.029
4,Australia,AUS,1965,120.852669,71.059616,47.906800,0.007328,1.878925,0.0,NaN,11388000,10.638962,0.121

In [3]:
#Checking data types:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2806 entries, 0 to 2805
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       2806 non-null   object
 1   country_code  2806 non-null   object
 2   year          2806 non-null   int64
 3   total         2806 non-null   float64
 4   coal          2777 non-null   float64
 5   oil           2777 non-null   float64
 6   gas           2777 non-null   float64
 7   cement        2776 non-null   float64
 8   flaring       2777 non-null   float64
 9   other         1530 non-null   float64
 10  population    2806 non-null   int64
 11  per_capita    2806 non-null   float64
 12  temp_change   2385 non-null   float64
dtypes: float64(9), int64(2), object(2)
memory usage: 285.1+ KB

In [5]:
# Get categories for encoding:
df_cat = ['country', 'country_code']

In [6]:
# OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit/transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[df_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(df_cat)
encode_df

,country_Australia,country_Austria,country_Belarus,country_Belgium,country_Brazil,country_Bulgaria,country_Canada,country_China,country_Croatia,country_Cyprus,...,country_code_PRT,country_code_ROU,country_code_RUS,country_code_SVK,country_code_SVN,country_code_SWE,country_code_TUR,country_code_UKR,country_code_USA,country_code_WLD
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2805,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [7]:
df = df.merge(encode_df,left_index=True,right_index=True).drop(columns=df_cat, axis=1)
df

,year,total,coal,oil,gas,cement,flaring,other,population,per_capita,...,country_code_PRT,country_code_ROU,country_code_RUS,country_code_SVK,country_code_SVN,country_code_SWE,country_code_TUR,country_code_UKR,country_code_USA,country_code_WLD
0,1961,90.503896,59.974780,29.115323,0.000000,1.413794,0.000000,NaN,10483000,8.614547,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1962,94.823455,61.485584,31.884128,0.003664,1.450079,0.000000,NaN,10742000,8.852126,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1963,100.934264,63.727952,35.658048,0.007328,1.540936,0.000000,NaN,10950000,9.245287,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1964,108.875767,67.133213,39.943584,0.007328,1.791642,0.000000,NaN,11167000,9.780775,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1965,120.852669,71.059616,47.906800,0.007328,1.878925,0.000000,NaN,11388000,10.638962,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,7578157615,4.749682,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2802,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,7661776338,4.792753,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2803,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,7742681934,4.775633,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2804,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,7820981524,4.497423,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2805,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,7888408686,4.693699,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [8]:
df.sample(40)

,year,total,coal,oil,gas,cement,flaring,other,population,per_capita,...,country_code_PRT,country_code_ROU,country_code_RUS,country_code_SVK,country_code_SVN,country_code_SWE,country_code_TUR,country_code_UKR,country_code_USA,country_code_WLD
2171,1997,1481.618770,411.674444,352.804307,669.081408,12.272913,21.842953,13.942745,147915361,10.015000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1970,147.479769,74.293082,68.203666,2.755260,2.227761,0.000000,NaN,12507000,11.709359,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2352,1995,267.577468,85.879299,145.250782,18.895139,12.364557,1.863344,3.324347,39724050,6.720591,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
516,1989,21.186378,1.752694,13.771718,4.425137,1.206819,0.030011,NaN,4767260,4.346653,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2423,2005,54.066087,10.959664,38.771372,1.907414,1.315105,0.364160,0.748371,9029572,5.973006,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1868,1999,42.636000,4.401000,24.332000,9.615000,0.892000,2.610000,0.786000,4461913,9.555543,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2115,2002,98.356844,32.006230,30.861979,30.971147,2.642094,0.727342,1.148052,21730496,4.542300,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1944,2014,310.319100,202.997324,62.288999,29.463594,6.456416,4.702019,4.410747,38011735,8.043132,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
256,1973,131.702076,9.009776,115.364704,0.377392,6.023212,0.926992,NaN,103666904,1.270435,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2398,1980,71.713685,6.408009,64.072758,0.000000,1.232919,0.000000,NaN,8310531,8.627975,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
0,1961,90.503896,59.974780,29.115323,0.000000,1.413794,0.000000,NaN,10483000,8.614547,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
412,2007,593.515764,118.793126,266.117076,181.886055,7.731020,16.132977,2.855510,32889025,18.060601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1212,2014,36.853014,8.647303,17.368282,8.795856,1.461122,0.000045,0.580406,4657740,7.973103,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2685,1962,2993.902031,920.818160,1334.747568,676.367072,29.878497,22.921984,9.168750,186538000,16.457443,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1269,2010,436.117437,58.218054,193.788095,164.346876,13.276015,2.376961,4.111436,59277417,7.290197,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1966,120.219302,71.400368,46.994464,0.007328,1.817142,0.000000,NaN,11651000,10.370281,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2043,1991,275.688225,94.093881,151.671116,7.441428,18.962260,0.000000,3.519540,43295704,6.196994,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2156,1982,2128.165485,771.460473,810.519979,500.031868,33.544954,12.608210,NaN,140823000,15.217704,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1789,1981,16.560961,3.982768,9.848832,2.161760,0.490657,0.076944,NaN,3124900,5.239779,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2548,2008,310.532303,122.868262,86.880178,71.548280,24.849844,0.134862,4.250876,71320726,4.354026,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2641,1979,644.512763,281.572673,253.264447,89.193259,7.991736,12.490647,NaN,56246951,11.454919,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
879,1986,390.393096,78.794823,245.437948,56.153737,10.006587,0.000000,NaN,56865193,7.050416,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1087,2011,50.191329,11.954756,15.028675,21.875410,0.563620,0.186943,0.581925,9971727,5.042710,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2441,1962,24.123366,6.250784,16.030000,0.000000,1.842582,0.000000,NaN,5573815,4.327669,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
263,1980,185.471117,19.986728,150.210064,1.883259,12.083044,1.308022,NaN,122288383,1.516670,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2468,1989,39.419076,1.377792,31.846783,3.488452,2.706049,0.000000,NaN,6646912,5.931063,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
332,1988,86.913327,37.907744,34.287712,12.263408,2.454463,0.000000,NaN,8981446,9.836481,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1538,1974,29.756316,2.991294,22.037049,3.296348,1.000698,0.430927,NaN,3273894,8.915224,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2630,1968,606.488304,370.300733,220.841606,6.265478,8.834998,0.245489,NaN,55211700,10.993232,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63,1963,36.949060,19.598736,12.336688,3.378208,1.635428,0.000000,NaN,7175811,5.149789,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
300,2017,497.412678,67.321878,316.425222,70.687790,19.080788,17.505000,6.392000,208504960,2.385616,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2632,1970,652.577395,352.909152,265.174672,23.105184,8.431539,2.956848,NaN,55663250,11.726423,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1594,1969,13.182240,9.247936,3.814224,0.018320,0.101760,0.000000,NaN,337500,38.968544,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1268,2009,424.694439,52.387805,198.742114,154.034299,13.340683,2.231504,3.958034,59095365,7.130191,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68,1968,42.297140,15.386468,20.915923,3.744932,2.249817,0.000000,NaN,7415403,5.705184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1915,1985,444.507861,379.025597,41.158050,17.876803,6.447410,0.000000,NaN,37201885,11.955834,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
695,1985,60.065327,28.003952,29.564816,1.286064,0.910047,0.300448,NaN,5113691,11.732765,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1105,1968,1.593425,0.010967,1.531695,0.000000,0.050763,0.000000,NaN,201488,7.908954,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1317,1997,1245.139360,349.675392,692.050712,153.033751,39.926083,0.580429,9.872992,126057000,9.879864,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1183,1985,26.749804,10.145616,11.376720,4.455424,0.772044,0.000000,NaN,3538082,7.630224,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
model = ARIMA(df, order=(5,1,0))
model_fit = model.fit()

ValueError: SARIMAX models require univariate `endog`. Got shape (2806, 103).