In [1]:
# Dependencies:
import pandas as pd

In [3]:
# Load CSV and sample:
emission_df = pd.read_csv("../Resources/GCB2022v27_MtCO2_flat.csv")
# emission_df[(emission_df['Year'].values >= 1965) & (emission_df['Country'].values == 'USA')]
emission_df

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

In [4]:
# Check null and drop any null values:
emission_df.isnull().sum()

Country                   0
ISO 3166-1 alpha-3     1632
Year                      0
Total                   200
Coal                  41360
Oil                   41387
Gas                   41486
Cement                42290
Flaring               41554
Other                 61484
Per Capita            44130
dtype: int64

In [5]:
emission_df = emission_df.dropna(how='any')
emission_df

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
3232,Australia,AUS,1990,278.154156,141.879819,88.842090,34.454816,3.462872,7.272496,2.242063,16.315938
3233,Australia,AUS,1991,279.528510,146.082840,88.245572,32.786243,3.183033,7.001201,2.229622,16.184767
3234,Australia,AUS,1992,284.525345,150.051381,87.916828,33.970472,2.923411,7.303701,2.359551,16.293502
3235,Australia,AUS,1993,288.870537,150.098575,90.386578,35.670002,3.004698,7.136743,2.573941,16.383765
3236,Australia,AUS,1994,293.696553,151.376241,91.924087,37.032005,3.484276,6.880148,2.999795,16.494706
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

In [6]:
# Rename column ISO 3166-1 alpha-3 to Country Code:
emission_df = emission_df.rename(columns={'ISO 3166-1 alpha-3':'Country Code', 'Per Capita': 'PerCapita'})
emission_df.sample(25)

,Country,Country Code,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,PerCapita
60089,USA,USA,1999,5810.331395,2065.357732,2435.456973,1199.103307,40.238725,40.054410,30.120247,20.812016
32610,Luxembourg,LUX,1992,12.209723,5.539509,4.963488,1.121533,0.520445,0.000028,0.064719,31.185757
26359,Ireland,IRL,1997,38.804985,12.210017,18.194857,6.591682,1.145000,0.000018,0.663412,10.660271
55474,Taiwan,TWN,2008,266.595000,155.266155,76.774830,25.265015,8.504000,0.000000,0.785000,11.591933
55483,Taiwan,TWN,2017,284.821000,162.617632,69.449059,46.447752,5.357000,0.044556,0.905000,12.035526
19282,France,FRA,1992,406.648330,77.786511,242.982164,67.847507,9.208047,4.403141,4.420960,7.151238
18746,Finland,FIN,2000,57.009923,21.985056,25.820298,7.715635,0.504844,0.058479,0.925612,11.013837
60069,USA,USA,1979,5008.578779,1427.458000,2441.892000,1080.485000,35.940399,8.866880,13.936500,22.718443
18757,Finland,FIN,2011,56.637171,24.079079,23.761772,7.252456,0.557828,0.087792,0.898243,10.511401
47037,Romania,ROU,2003,102.844232,34.889629,29.463760,33.766402,2.650044,0.903872,1.170525,4.787612
8427,Bulgaria,BGR,2017,47.569757,25.793896,12.338317,6.038602,1.239304,0.877462,1.282177,6.623075
3516,Austria,AUT,2002,71.953612,16.736632,36.057030,16.070299,1.735653,0.167237,1.186760,8.906261
47304,Russia,RUS,1998,1464.542998,400.158472,345.452646,673.280615,11.922667,21.848656,11.879941,9.917491
26358,Ireland,IRL,1996,37.469270,13.073998,16.534516,6.178322,0.983000,0.000013,0.699421,10.388715
59546,United Kingdom,GBR,2000,569.033716,144.443080,198.237954,210.131006,6.331884,6.446023,3.443769,9.669215
14933,Denmark,DNK,1995,61.614373,25.600004,26.024279,7.573576,1.203777,0.453629,0.759109,11.769256
54941,Switzerland,CHE,2019,36.733064,0.431600,27.489291,6.878903,1.732205,0.033352,0.167712,4.283446
5138,Belarus,BLR,1992,93.482974,8.733979,47.716486,33.090238,0.908184,0.006915,3.027172,8.923616
25007,Hungary,HUN,2005,60.276272,13.598124,16.402897,28.024506,1.198940,0.112839,0.938966,5.983633
5161,Belarus,BLR,2015,58.798911,4.094111,17.178005,33.956646,2.269358,0.006100,1.294691,6.061363
44323,Poland,POL,2009,316.868513,209.073544,67.927146,27.273393,5.757238,2.872266,3.964926,8.218549
25284,Iceland,ISL,2010,3.616621,0.626117,2.788367,0.000133,0.009924,0.189644,0.002437,11.361126
32345,Lithuania,LTU,1999,13.482975,0.547675,8.390483,4.031561,0.345806,0.085439,0.082010,3.710287
51379,Slovenia,SVN,1993,14.247177,6.293279,5.907301,1.476789,0.288680,0.107873,0.173253,7.153328
18753,Finland,FIN,2007,66.759835,30.347012,26.644071,8.117507,0.605468,0.080910,0.964868,12.623135

In [ ]:
emission_df.to_csv('emission_cleaned.csv')

In [8]:
# Load CSV and drop columns not needed:
world_pop_df = pd.read_csv("../Resources/world_pop.csv")
world_pop_df = world_pop_df.drop(columns=["Indicator Code","Indicator Name"])
world_pop_df

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,54608,55811,56682,57475,58178,58782,59291,59522,...,102112,102880,103594,104257,104874,105439,105962,106442,106585,106537
1,Africa Eastern and Southern,AFE,130692579,134169237,137835590,141630546,145605995,149742351,153955516,158313235,...,552530654,567891875,583650827,600008150,616377331,632746296,649756874,667242712,685112705,702976832
2,Afghanistan,AFG,8622466,8790140,8969047,9157465,9355514,9565147,9783147,10010030,...,30466479,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462
3,Africa Western and Central,AFW,97256290,99314028,101445032,103667517,105959979,108336203,110798486,113319950,...,376797999,387204553,397855507,408690375,419778384,431138704,442646825,454306063,466189102,478185907
4,Angola,AGO,5357195,5441333,5521400,5599827,5673199,5736582,5787044,5827503,...,25188292,26147002,27128337,28127721,29154746,30208628,31273533,32353588,33428486,34503774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,947000,966000,994000,1022000,1050000,1078000,1106000,1135000,...,1807106,1818117,1812771,1788196,1777557,1791003,1797085,1788878,1790133,1786038
260,"Yemen, Rep.",YEM,5542459,5646668,5753386,5860197,5973803,6097298,6228430,6368014,...,26223391,26984002,27753304,28516545,29274002,30034389,30790513,31546691,32284046,32981641
261,South Africa,ZAF,16520441,16989464,17503133,18042215,18603097,19187194,19789771,20410677,...,53145033,53873616,54729551,55876504,56422274,56641209,57339635,58087055,58801927,59392255
262,Zambia,ZMB,3119430,3219451,3323427,3431381,3542764,3658024,3777680,3901288,...,14744658,15234976,15737793,16248230,16767761,17298054,17835893,18380477,18927715,19473125
263,Zimbabwe,ZWE,3806310,3925952,4049778,4177931,4310332,4447149,4588529,4734694,...,13265331,13555422,13855753,14154937,14452704,14751101,15052184,15354608,15669666,15993524

In [9]:
# Stacked
world_pop_df3 = pd.DataFrame(world_pop_df.set_index(['Country Name', 
                                                     'Country Code']).stack())
world_pop_df3.sample(100)

                                                    0
Country Name             Country Code
St. Martin (French part) MAF          1995      29435
Angola                   AGO          1984    9617702
Mali                     MLI          2009   15032635
Romania                  ROU          2019   19371648
South Asia (IDA & IBRD)  TSA          1963  613229525
...                                               ...
Germany                  DEU          2016   82348669
Monaco                   MCO          1993      31024
Maldives                 MDV          2003     297226
Madagascar               MDG          2013   23588073
Slovenia                 SVN          1973    1766697

[100 rows x 1 columns]

In [ ]:
world_pop_df3.to_csv('world_population_by_year.csv')