In [1]:
# Dependencies:
import pandas as pd

In [2]:
# Load CSV and sample:
emission_df = pd.read_csv("../Resources/GCB2022v27_MtCO2_flat.csv")
# emission_df[(emission_df['Year'].values >= 1965) & (emission_df['Country'].values == 'USA')]
emission_df

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

In [3]:
# Check null and drop any null values:
emission_df.isnull().sum()

Country                   0
ISO 3166-1 alpha-3     1632
Year                      0
Total                   200
Coal                  41360
Oil                   41387
Gas                   41486
Cement                42290
Flaring               41554
Other                 61484
Per Capita            44130
dtype: int64

In [4]:
emission_df = emission_df.dropna(how='any')
emission_df

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
3232,Australia,AUS,1990,278.154156,141.879819,88.842090,34.454816,3.462872,7.272496,2.242063,16.315938
3233,Australia,AUS,1991,279.528510,146.082840,88.245572,32.786243,3.183033,7.001201,2.229622,16.184767
3234,Australia,AUS,1992,284.525345,150.051381,87.916828,33.970472,2.923411,7.303701,2.359551,16.293502
3235,Australia,AUS,1993,288.870537,150.098575,90.386578,35.670002,3.004698,7.136743,2.573941,16.383765
3236,Australia,AUS,1994,293.696553,151.376241,91.924087,37.032005,3.484276,6.880148,2.999795,16.494706
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

In [5]:
# Rename column ISO 3166-1 alpha-3 to Country Code:
emission_df = emission_df.rename(columns={'ISO 3166-1 alpha-3':'Country Code', 'Per Capita': 'PerCapita'})
emission_df.sample(25)

,Country,Country Code,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,PerCapita
59545,United Kingdom,GBR,1999,561.649574,138.313400,201.663020,205.231254,6.530861,6.170552,3.740487,9.578710
8428,Bulgaria,BGR,2018,43.616065,22.089263,12.555814,5.781013,1.223503,0.711454,1.255020,6.128063
19308,France,FRA,2018,322.526821,34.966380,189.343208,84.769711,6.495119,2.905288,4.047116,5.017701
19311,France,FRA,2021,305.963710,28.877789,179.745984,85.580480,5.994268,2.148580,3.616609,4.741312
21469,Germany,DEU,2003,900.627666,379.536724,320.455570,174.872568,13.507148,3.002408,9.253248,11.071456
7614,Brazil,BRA,2020,442.306003,56.240806,281.089414,59.026096,22.052686,17.505000,6.392000,2.074642
25009,Hungary,HUN,2007,58.553668,13.571612,17.531041,25.106068,1.328096,0.104364,0.912488,5.831358
44583,Portugal,PRT,1997,54.694410,13.732245,35.041931,1.139971,3.560889,0.469798,0.749576,5.398958
7605,Brazil,BRA,2011,462.580000,62.292401,303.885017,53.100582,22.845000,14.120000,6.337000,2.334078
14934,Denmark,DNK,1996,74.868583,35.136786,28.364089,8.908523,1.281947,0.497713,0.679526,14.244384
32610,Luxembourg,LUX,1992,12.209723,5.539509,4.963488,1.121533,0.520445,0.000028,0.064719,31.185757
28268,Kazakhstan,KAZ,2002,159.971295,91.197730,36.545939,14.307133,0.026942,15.589078,2.304473,10.429081
3527,Austria,AUT,2013,67.759445,14.960277,33.460547,16.332385,1.656405,0.190940,1.158889,7.990935
59998,USA,USA,1908,1052.812895,959.762816,71.546928,19.664688,0.004713,0.000000,1.833750,11.822053
47042,Romania,ROU,2008,105.851799,39.565137,28.949680,31.130563,4.142664,0.681804,1.381952,5.139059
55482,Taiwan,TWN,2016,279.705000,159.482334,70.804947,42.259937,5.395000,0.049782,1.713000,11.854684
22003,Greece,GRC,1993,84.284958,40.163877,37.043284,0.318099,5.875028,0.029467,0.855204,7.978930
5151,Belarus,BLR,2005,59.310285,2.962905,15.956987,36.976477,1.466325,0.006601,1.940991,5.969735
27177,Italy,ITA,1999,466.424936,53.939637,260.378249,129.051474,15.277308,3.108679,4.669590,8.190787
3232,Australia,AUS,1990,278.154156,141.879819,88.842090,34.454816,3.462872,7.272496,2.242063,16.315938
32358,Lithuania,LTU,2012,14.349487,0.950419,6.759872,5.937292,0.395191,0.232871,0.073841,4.684260
41056,Norway,NOR,2006,43.926000,2.745600,24.819400,13.598000,0.805000,1.426000,0.532000,9.424812
28266,Kazakhstan,KAZ,2000,147.473712,90.498794,25.427307,14.152646,0.001999,16.132079,1.260886,9.679133
26353,Ireland,IRL,1991,33.674307,14.367054,13.453060,4.546653,0.782000,0.000006,0.525535,9.608040
45689,South Korea,KOR,2015,634.177278,335.411292,170.593973,92.588923,25.778710,0.000000,9.804380,12.436214

In [6]:
emission_df.to_csv('emission_cleaned')

In [7]:
# Load CSV and drop columns not needed:
world_pop_df = pd.read_csv("../Resources/world_pop.csv")
world_pop_df = world_pop_df.drop(columns=["Indicator Code","Indicator Name"])
world_pop_df

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,54608,55811,56682,57475,58178,58782,59291,59522,...,102112,102880,103594,104257,104874,105439,105962,106442,106585,106537
1,Africa Eastern and Southern,AFE,130692579,134169237,137835590,141630546,145605995,149742351,153955516,158313235,...,552530654,567891875,583650827,600008150,616377331,632746296,649756874,667242712,685112705,702976832
2,Afghanistan,AFG,8622466,8790140,8969047,9157465,9355514,9565147,9783147,10010030,...,30466479,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462
3,Africa Western and Central,AFW,97256290,99314028,101445032,103667517,105959979,108336203,110798486,113319950,...,376797999,387204553,397855507,408690375,419778384,431138704,442646825,454306063,466189102,478185907
4,Angola,AGO,5357195,5441333,5521400,5599827,5673199,5736582,5787044,5827503,...,25188292,26147002,27128337,28127721,29154746,30208628,31273533,32353588,33428486,34503774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,947000,966000,994000,1022000,1050000,1078000,1106000,1135000,...,1807106,1818117,1812771,1788196,1777557,1791003,1797085,1788878,1790133,1786038
260,"Yemen, Rep.",YEM,5542459,5646668,5753386,5860197,5973803,6097298,6228430,6368014,...,26223391,26984002,27753304,28516545,29274002,30034389,30790513,31546691,32284046,32981641
261,South Africa,ZAF,16520441,16989464,17503133,18042215,18603097,19187194,19789771,20410677,...,53145033,53873616,54729551,55876504,56422274,56641209,57339635,58087055,58801927,59392255
262,Zambia,ZMB,3119430,3219451,3323427,3431381,3542764,3658024,3777680,3901288,...,14744658,15234976,15737793,16248230,16767761,17298054,17835893,18380477,18927715,19473125
263,Zimbabwe,ZWE,3806310,3925952,4049778,4177931,4310332,4447149,4588529,4734694,...,13265331,13555422,13855753,14154937,14452704,14751101,15052184,15354608,15669666,15993524

In [8]:
# Stacked
world_pop_df3 = pd.DataFrame(world_pop_df.set_index(['Country Name', 
                                                     'Country Code']).stack())
world_pop_df3.sample(100)

                                                      0
Country Name              Country Code
Mozambique                MOZ          2017    28569441
Seychelles                SYC          1982       64413
Korea, Dem. People's Rep. PRK          2009    24581509
Puerto Rico               PRI          1998     3781101
France                    FRA          1969    51272683
...                                                 ...
Post-demographic dividend PST          2008  1064631968
Europe & Central Asia     ECS          2009   885846236
Sweden                    SWE          1985     8350386
Sri Lanka                 LKA          1998    18564595
Yemen, Rep.               YEM          2006    21966298

[100 rows x 1 columns]

In [9]:
world_pop_df3.to_csv('world_population_by_year')